@import url('color.css');
:root {
    --main-color: rgb(189, 189, 189);
    --mainlight-color: rgb(239, 239, 239);
    --maindark-color: rgb(141, 141, 141);
    --highlight-color: rgb(100, 181, 246);;

}

th {
    background-color: var(--maindark-color);
    color: black;
}

table {
    color: white;
    border-style: none;
}

tr:nth-child(even) {
    background-color: var(--main-color);
    border-collapse: collapse;
    border: 0 none;
    color: black;
}

tr:nth-child(odd) {
    background-color: var(--mainlight-color);
    border-collapse: collapse;
    border: none;
    color: black;
}

tr:hover {
    background-color: var(--highlight-color);
}

nav {
    background-color: var(--main-color);
    float: left;
    width: 12%;
    height: 20%;
    border-right: solid 1px var(--main-color);

}
h2, h1 {
    text-align: center;
    color: black;


}

ul {
    margin: 0;
    padding: 0;
    border: solid 1px grey;
}

nav li {
    list-style: none;


}

nav li:nth-child(even) {
    background-color: var(--main-color);
}

nav li:nth-child(odd) {
    background-color: var(--main-color);
}

nav li:hover {
    background-color: var(--highlight-color);

}

li {
    list-style: inside url("Bilder/pizza_android.svg");

}

li:nth-child(even) {
    background-color: var(--maindark-color);
    border-collapse: collapse;
    color: black;
}

li:nth-child(odd) {
    background-color: var(--main-color);
    border-collapse: collapse;
    color: black;
}

li:hover {
    background-color: var(--highlight-color);
}

.MainBody {

    margin-left: 15%;
    margin-right: 32%;
    background-color: var(--mainlight-color);
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20%;
    height: 100%;
    border-left:  solid 1px var(--main-color);
    border-right: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);

}

.RightBody {
    float: right;
    width: 30%;
    padding-bottom: 10%;
    display: block;
    background-color: var(--mainlight-color);
    border-left: solid 1px var(--main-color);
    border-bottom: solid 1px var(--main-color);

}
.RightBody section{
    width: 100%;

    align-content: center;


}
.RightBody input[type=button]{

    clear: both;



}
li a{
    color: black;
    text-decoration: none;
}
body{
    background-color: rgb(250,250,250);
    margin-left: 0;
    margin-right: 0;
    margin-top: -20px;

}

